@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
min-height:100vh;
background:
linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),
url("img/background.jpg");


background-size:cover;
background-position:center;
background-attachment:fixed;

font-family:'Poppins',sans-serif;


}

/* หัวข้อ CONTACT */

.title{
text-align:center;
font-family:'Bebas Neue',sans-serif;
font-size:100px;
letter-spacing:10px;


margin:40px 0;

background:linear-gradient(
    90deg,
    #00eaff,
    #00ff88,
    #ffee00,
    #cfffe1,
    #13f34b
);

background-size:300%;

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

animation:glow 5s linear infinite;


}

@keyframes glow{
from{background-position:0%;}
to{background-position:300%;}
}

/* กล่องการ์ด */

.container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:35px;
width:90%;
margin:auto;
}

.card{
width:280px;
padding:25px;


border-radius:25px;

background:rgba(255,255,255,.08);
backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,.15);

text-align:center;
color:white;

transition:.4s;


}

.card:hover{
transform:translateY(-15px) scale(1.05);


box-shadow:
0 0 15px #24f8dc,
0 0 30px #17fac9,
0 0 50px rgba(15, 255, 155, 0.5);


}

.card img{
width:180px;
height:180px;


object-fit:cover;
border-radius:50%;

border:5px solid white;

transition:.5s;


}

.card:hover img{
transform:scale(1.08);


box-shadow:
0 0 20px #00ffbf,
0 0 40px #00fff2;


}

.card h2{
margin-top:15px;
font-size:24px;
}

.card h2::after{
content:'';
display:block;


width:60px;
height:3px;

background:#00ffc8;

margin:10px auto;


}

.card p{
margin-top:8px;
color:#ddd;
}

/* ปุ่มหน้าแรก */

.bottom-home{
position:fixed;
top:20px;
left:20px;

padding:12px 22px;

border-radius:50px;

text-decoration:none;
color:white;

background:rgba(255,255,255,.08);

border:1px solid #00ffd5;

transition:.3s;
z-index:1000;
}

.bottom-home:hover{
background:#00ff9d;
color:black;

box-shadow:
0 0 20px #00ffb3,
0 0 40px #00ffea;


}
